<% content_for :navbar do %>
    <li><a href="/simple">Simple</a></li>
    <li><a href="/advanced">Advanced</a></li>
    <li class="active"><a href="#">Player</a></li>
<% end %>

<h2><%= @video.title %></h2>

<div class='span8'>
      <!-- HTML5 player -->
      <video id="movie" width="<%= @h264_encoding.width %>" height="<%= @h264_encoding.height %>" preload="none"
             poster="<%= @h264_encoding.screenshots.first %>" controls>
        <source src="<%= @h264_encoding.url %>" type="video/mp4">
      </video>

</div>
<!--
<div >
<ul class="thumbnails">
      <li class="span3">
        <a class="thumbnail" href="/videos/<%=@video.id %>">
          <img src="<%= @h264_encoding.screenshots.first %>"
               style="width: <%= @h264_encoding.width %>; height: <%= @h264_encoding.height %>">
        </a>
      </li>
</ul>
</div>
     -->
<div class="gall">
<ul class="thumbnails">
  <% @videos.reverse.each do |src| %>
      <li class="span3">
        <a class="thumbnail" href="/videos/<%=src.id %>">
          <img src="<%= src.panda_video.encodings['h264'].screenshots.first %>"
               style="width: <%= @h264_encoding.width %>; height: <%= @h264_encoding.height %>">
        </a>
      </li>
  <% end %>
</ul>
</div>

